<%- include('header'); -%>

<div class="box" id="heading">
  <h1>About This To Do List App</h1>
</div>

<p class="box">This todo list was created in response to my crazy time table which needed breaking down further. I learnt about templating with EJS while going through The App Brewery's course on Udemy</p>

<%- include('footer'); -%>
